<style type="text/css">
.login-page-a {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form-a {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-a .input-a {
  font-family: 'Lato', 'Belgrano', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form-a .button-a {
  font-family: 'Lato', 'Belgrano', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #30CBEF;
  width: 100%;
  border: 10;
  border-color: #FFFFFF;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form-a .button-a:hover,.form-a .button-a:active,.form-a .button-a:focus {
  background: #FFFFFF;
  color: #30CBEF;
  border-color: #30CBEF;
}
.form-a .message-a {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form-a .message-a .a-a {
  color: #4CAF50;
  text-decoration: none;
}
.form-a .register-form-a {
  display: none;
}
.container-a {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container-a:before, .container-a:after {
  content: "";
  display: block;
  clear: both;
}
.container-a .info-a {
  margin: 50px auto;
  text-align: center;
}
.container-a .info-a .h1-a {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container-a .info-a .span-a {
  color: #4d4d4d;
  font-size: 12px;
}
.container-a .info-a .span-a .a-a {
  color: #000000;
  text-decoration: none;
}
.container-a .info-a .span-a .fa-a {
  color: #EF3B3A;
}
.body-a {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
</style>